//footer part
footer
    .container 
        .footer-content
            .row 
                div(class="col-md-12 col-lg-4")
                    .footer-box
                        .footer-logo
                            a(href="index.html")
                                img(src="images/logo.png", class="img-fluid", alt="")
                        .social-media 
                            ul 
                                li 
                                    a(href="", target="_blank")
                                        i(class='fab fa-facebook-f') 
                                li 
                                    a(href="", target="_blank")
                                        i(class='fab fa-twitter') 
                                li 
                                    a(href="", target="_blank")
                                        i(class='fab fa-linkedin-in') 
                                li 
                                    a(href="", target="_blank")
                                        i(class='fab fa-instagram') 
                div(class="col-6 col-md-4 col-lg-2")
                    .footer-box
                        h3 Site map
                        .main 
                            ul 
                                li
                                    a(href="index.html") home
                                li
                                    a(href="about.html") about Us
                                li
                                    a(href="services.html") services
                                li
                                    a(href="videos.html") offers
                                li
                                    a(href="news.html") prices
                div(class="col-6 col-md-4 col-lg-3")
                    .footer-box
                        .services 
                            ul 
                                li
                                    a(href="survey.html") Survey
                                li
                                    a(href="careers.html") Careers
                                li
                                    a(href="terms.html") Terms & conditions
                                li
                                    a(href="contact.html") contact us
                div(class="col-sm-12 col-md-4 col-lg-3")
                    .footer-box
                        h3 contact us
                        .contact 
                            ul 
                                li  
                                    i(class='fas fa-envelope') 
                                    a(href="mailto:") mail@yahoo.com      
                                li  
                                    i(class='fas fa-phone-alt')
                                    a(href="tel:") +201988209222       
                                li
                                    i(class='fas fa-map-marker-alt')
                                    span 6th of October city
        .copyright 
            .copy-text
                p All rights reserved by 
                    a(href="") HUNDRED.
    
//footer part
