section.loading 
    img(src="images/loading.gif", class="img-fluid", alt="")

script(src="js/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/fontawesome.min.js")
script(src="js/wow.min.js")
script(src="js/select2.min.js")
script(src="js/script.js")