//header part
header
    nav(class='navbar navbar-expand-lg navbar-light')
        div(class='container')
            a(class="navbar-brand" href="index.html")
                img(src="../images/logo.png", class="img-fluid", alt="")
            button(class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                span
            #navbarNavDropdown(class='collapse navbar-collapse')
                ul(class='navbar-nav')
                    li(class='nav-item')
                        a(class='nav-link active' aria-current='page' href='index.html') home
                    li(class='nav-item')
                        a(class='nav-link' href='about.html') about us
                    li(class='nav-item')
                        a(class='nav-link' href='services.html') services
                    li(class='nav-item')
                        a(class='nav-link' href='offers.html') offers
                    li(class='nav-item')
                        a(class='nav-link' href='prices.html') prices
                    li(class='nav-item')
                        a(class='nav-link' href='contact.html') contact us
                    .buttons
                        .icon.lang
                            div(class='dropdown-lang')
                                div(class='items')
                                    a(href='arabic/index.html') Arabic
                                    a(href='index.html') English
                            i.fas.fa-globe        
                        //.butt.appoint
                            a.btn.btn-success.hvr-sweep-to-top(href="login.html") Sign in
                        .logout-dropdown
                            span 
                                .icon 
                                    span
                                        i(class='fas fa-sort-down')
                                        | Ahmed Nasr Ahmed Nasr
                            div(class='dropdown-person')
                                div(class='items')
                                    a(href='arabic/index.html') logout
//header part