doctype 
html(lang="ar" dir="rtl")
    head
        include includes/head.pug
    body
        .main-wrapper.services
            include includes/header.pug

            // services part
            section(class='services')
                div(class='container')
                    div(class='title')
                        h2 our services
                    div(class='row')
                        div(class='col-md-6 col-lg-6')
                            div(class='service-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    .inner
                                        i(class="fas fa-shipping-fast")
                                div(class='details')
                                    h3 Shipping solution
                                    p The passage is attributed to an unknown typesetter in the 15th century
                        div(class='col-md-6 col-lg-6')
                            div(class='service-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    .inner
                                        i(class="fas fa-cash-register")
                                div(class='details')
                                    h3 Payment method
                                    p The passage is attributed to an unknown typesetter in the 15th century
                        div(class='col-md-6 col-lg-6')
                            div(class='service-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    .inner
                                        i(class="fas fa-user-shield")
                                div(class='details')
                                    h3 Safety delivery
                                    p The passage is attributed to an unknown typesetter in the 15th century
                        div(class='col-md-6 col-lg-6')
                            div(class='service-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    .inner
                                        i(class="fas fa-user-tie")
                                div(class='details')
                                    h3 Good workers
                                    p The passage is attributed to an unknown typesetter in the 15th century
                        div(class='col-md-6 col-lg-6')
                            div(class='service-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    .inner
                                        i(class="fas fa-shipping-fast")
                                div(class='details')
                                    h3 Shipping solution
                                    p The passage is attributed to an unknown typesetter in the 15th century
                        div(class='col-md-6 col-lg-6')
                            div(class='service-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    .inner
                                        i(class="fas fa-cash-register")
                                div(class='details')
                                    h3 Payment method
                                    p The passage is attributed to an unknown typesetter in the 15th century
                        div(class='col-md-6 col-lg-6')
                            div(class='service-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    .inner
                                        i(class="fas fa-user-shield")
                                div(class='details')
                                    h3 Safety delivery
                                    p The passage is attributed to an unknown typesetter in the 15th century
                        div(class='col-md-6 col-lg-6')
                            div(class='service-box wow fadeInUp' data-wow-duration='1s')
                                div(class='image')
                                    .inner
                                        i(class="fas fa-user-tie")
                                div(class='details')
                                    h3 Good workers
                                    p The passage is attributed to an unknown typesetter in the 15th century
            // services part

            // contact part
            section(class='contact')
                div(class='container')
                    div(class='title')
                        h2 contact us
                    div(class='contact-box')
                        div(class='alert bg-danger alert-warning alert-dismissible fade show' role='alert')
                            p You should check in on some of those fields below.
                            button(type='button' class='close' data-dismiss='alert' aria-label='Close')
                                span(aria-hidden='true') &times;
                        div(class='form-area')
                            form(action='')
                                .row
                                    div(class="col-lg-12")
                                        div(class='form-group')
                                            input(placeholder='Name' class='form-control' type='text' requirde)
                                    div(class="col-lg-12")            
                                        div(class='form-group')
                                            input(placeholder='E-mail' class='form-control' type='email' requirde)
                                    div(class="col-lg-12")
                                        div(class='form-group')
                                            input(placeholder='Phone' class='form-control' type='number' requirde)
                                    div(class="col-lg-12")
                                        div(class='form-group')
                                            textarea(rows='6' placeholder='Message' class='form-control')
                                    div(class="col-lg-12")
                                        div(class='form-group')
                                            button(class='btn btn-danger hvr-sweep-to-top' type='submit') Send
                                    div(class="col-lg-12")
                                        div(class='text-center')
                                            p(class='successfully') Message Sent Successfully 
            // contact part
            include includes/footer.pug
        include includes/scripts.pug