doctype 
html(lang="en")
    head
        include includes/head.pug
    body
        .main-wrapper.careers
            include includes/header.pug

            // careers part
            section(class='careers')
                div(class='container')
                    div(class='title')
                        h2 careers
                    div(class='careers-box wow fadeInUp' data-wow-duration='1s')
                        div(class='details')
                            h3 Accountant
                            p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                            .clickable
                                a.btn.btn-success(class="hvr-sweep-to-top" href="job.html") Apply job   
                    div(class='careers-box wow fadeInUp' data-wow-duration='1s')
                        div(class='details')
                            h3 Accountant
                            p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                            .clickable
                                a.btn.btn-success(class="hvr-sweep-to-top" href="job.html") Apply job   
                    div(class='careers-box wow fadeInUp' data-wow-duration='1s')
                        div(class='details')
                            h3 Accountant
                            p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                            .clickable
                                a.btn.btn-success(class="hvr-sweep-to-top" href="job.html") Apply job    
                    div(class='careers-box wow fadeInUp' data-wow-duration='1s')
                        div(class='details')
                            h3 Accountant
                            p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                            .clickable
                                a.btn.btn-success(class="hvr-sweep-to-top" href="job.html") Apply job   
            // careers part

            include includes/footer.pug
        include includes/scripts.pug