doctype 
html(lang="en")
    head
        include includes/head.pug
    body
        .main-wrapper.login
            include includes/header.pug
            s
            // login page part
            section(class='login')
                div(class='container')
                    div(class='title')
                        h2 login
                    div(class='form-area')
                        div(class='login-box')
                            div(class='alert bg-danger alert-warning alert-dismissible fade show' role='alert')
                                p You should check in on some of those fields below.
                                button(type='button' class='close' data-dismiss='alert' aria-label='Close')
                                    span(aria-hidden='true') &times;
                            div(class='form-area')
                                form(action='')
                                    .row
                                        div(class="col-lg-12")            
                                            div(class='form-group')
                                                input(placeholder='E-mail' class='form-control' type='email' required)
                                        div(class="col-lg-12")
                                            div(class='form-group')
                                                input(placeholder='Password' class='form-control' type='password' required)        
                                        div(class="col-lg-12")
                                            div(class='form-group')
                                                button(class='btn btn-danger hvr-sweep-to-top' type='submit') login
            // login page part
            include includes/footer.pug
        include includes/scripts.pug